common/dot-config/vesktop/Crashpad/*
common/dot-config/vesktop/SingletonCookie
common/dot-config/vesktop/SingletonSocket
common/dot-config/vesktop/sessionData/*
common/dot-config/vesktop/SingletonLock
common/dot-config/vesktop/state.json
common/dot-config/simple-update-notifier/electron-builder.json
common/dot-config/vesktop/settings.json
common/dot-config/Thunar/accels.scm
